Adv2==1.2.0
astropy==6.1.0
astropy-iers-data==0.2024.5.6.0.29.28
astroquery==0.4.7
attrs==23.2.0
backports.tarfile==1.1.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cssselect==1.2.0
cycler==0.12.1
ephem==4.1.5
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.14.0
fonttools==4.51.0
html5lib==1.1
idna==3.7
imageio==2.34.1
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jieba3k==0.35.1
joblib==1.4.2
JsonForm==0.0.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
JsonSir==0.0.2
keyring==25.2.0
kiwisolver==1.4.5
lazy_loader==0.4
llvmlite==0.42.0
lxml==5.2.1
matplotlib==3.8.4
more-itertools==10.2.0
networkx==3.3
newspaper3k==0.2.8
nltk==3.8.1
numba==0.59.1
numpy==1.23.1
opencv-python==4.7.0.72
packaging==24.0
pillow==10.3.0
pyephem==9.99
pyerfa==2.0.1.4
pymovie==4.0.6
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
pyqtgraph==0.12.4
python-dateutil==2.9.0.post0
Python-EasyConfig==0.1.7
pyvo==1.5.1
PyYAML==6.0.1
ravf==1.0.1
referencing==0.35.1
regex==2024.5.10
requests==2.31.0
requests-file==2.0.0
Resource==0.2.1
rpds-py==0.18.1
scikit-image==0.23.2
scipy==1.13.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
tifffile==2024.5.10
tinysegmenter==0.3
tldextract==5.1.2
tqdm==4.66.4
urllib3==2.2.1
webencodings==0.5.1
zipp==3.18.1
